@mixin myroundimgstyle {
    overflow: hidden;
    width: $homepageimagewidth;
    height: $homepageimagewidth;
    border-radius: 100%;
    border: solid 6px $othercolor;
    background-color: $othercolor;
  }